html {
    background-color: aqua;
}

#weather {
    margin-top: 10%;
    display: grid;
    justify-content: center;
}


#submit {
    font-size: xx-large;
    background-color: deepskyblue;
    border-radius: 20%;
    font-family: monospace;
    color: ivory;
}